<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes compétences</title>
    <link rel="stylesheet" href="../Boostrap 4.3.1/css/bootstrap.min.css" />
    <script src="../Boostrap 4.3.1/js/bootstrap.min.js"></script>
    <style>
        .elem {
            margin: 15px;
            clear: left;
            height: auto;
            overflow: hidden;
        }
        .title {
            font-size: 18px;
            font-weight: 600;
            width: 20%;
            float: left;
            color: grey;
        }
        .content {
            width: 80%;
            float: left;
            color: grey;
            font-size: 17px;
        }
    </style>
</head>
<body class="container-fluid"  style="margin-top: 50px;">
    <div class="elem">
        <div class="title">
            Langues :
        </div>
        <div class="content">
            <div><b>Français : </b> Niveau B2</div>
            <div><b>Anglais : </b> Niveau B2 (lu et écrit)</div>
        </div>
    </div>
    <div class="elem">
        <div class="title">
            Informatiques :
        </div>
        <div class="content">
            <div><b>Front-end : </b> Html, CSS, JavaScript, Bootstrap 3/4, JQuery, ChartJS, Angular, React.</div>
            <div><b>Back-end : </b> PHP, Laravel, MVC, API</div>
            <div><b>Base des données : </b> SQL, MySQL</div>
            <div><b>Gesion des sources codes : </b> Github, Forkgit, Gikraken</div>
            <div><b>Editeur : </b> Visual studio code, Sublime Text</div>
        </div>
    </div>
    <div class="elem">
        <div class="title">
            Autre :
        </div>
        <div class="content">
            <div>Travailler en équipe</div>
            <div>Photoshop</div>
            <div>Dessin</div>
            <div>Optimiser le code</div>
            <div>Organisation</div>
        </div>
    </div>
</body>