<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes Formations</title>
    <link rel="stylesheet" href="../fontawesome-5.12.1/css/all.css">

    <script src="../fontawesome-5.12.1/js/all.js"></script>
    <style>
        .ecole {
            border-bottom: solid 1px grey;
            padding: 5px 5px 20px 5px; 
            height: 250px;
        }
        .image{
            float: left;
            width: 20%;
            border: solid 0.5px grey;
        }
        .contenu{
            width: 78%;
            margin-left:1%; 
            float: left;
            padding-top: 15px; 
        }
        .description{
            clear: left;
        }
        .annee{
            text-align: center;
            width: 100%;
            padding: 4px 6px;
            font-size: 17px;
            font-weight: 600;
        }
        .description{
            margin-top: 15px;
        }
        .description .title {
            font-size: 18px;
            font-weight: 600;
        }
        .departerment {
            font-size: 22px;
            font-weight: 600;
        }
        .contenu > div{
            margin-bottom:5px; 
        }
    </style>
</head>
<body>
    <div>
        <div class="ecole">
            <div style="height: 150px;">
                <div class="image">
                    <img src="../images/insa-cvl.png" width="100%">
                    <div class="annee">2018 - Aujourd'hui</div>
                </div>
                <div class="contenu">
                    <div class="departerment">Département Génie des Systèmes Industriels</div>
                    <div class="adresse">
                        <i class="fas fa-map-marker-alt" style="color: grey;"></i>
                        <span><b>Adresse :</b> 3 Rue de la Chocolaterie, 41000 Blois </span>
                    </div>
                    <div class="facebook">
                        <i class="fab fa-facebook-square" style="color: #4267b2;"></i>
                        <span><b>Facebook : </b><a href="https://www.facebook.com/insacvl/" target="_blank">https://www.facebook.com/insacvl/</a></span>
                    </div>
                    <div class="phone">
                        <i class="fas fa-phone-volume"></i>
                        <span><b>Téléphone :</b> 02 54 55 84 00</span>
                    </div>
                    <div class="siteWeb">
                        <i class="fas fa-link" style="color: #3b9138;"></i>
                        <span><b>Site Web :</b> <a href="http://www.insa-centrevaldeloire.fr/fr/" target="_blank">http://www.insa-centrevaldeloire.fr/fr/</a></span>
                    </div>
    
                </div>
            </div>
            <div class="description">
                <div class="title">
                    Description :
                </div>
                <div>
                    
                </div>
            </div>
        </div>

        <div class="ecole">
            <div style="height: 150px;">
                <div class="image">
                    <img src="G:\nguyenthithuydung\images\suphamhue.png" width="100%">
                    <div class="annee">2016-2018</div>
                </div>
                <div class="contenu">
                    <div class="departerment">Class preparatoire</div>
                    <div class="adresse">
                        <i class="fas fa-map-marker-alt" style="color: grey;"></i>
                        <span><b>Adresse :</b> 34 rue Le Loi, Hue, VietNam</span>
                    </div>
                    <div class="facebook">
                        <i class="fab fa-facebook-square" style="color: #4267b2;"></i>
                        <span><b>Facebook : </b><a href="https://www.facebook.com/insacvl/" target="_blank">/</a></span>
                    </div>
                    <div class="phone">
                        <i class="fas fa-phone-volume"></i>
                        <span><b>Téléphone :</b></span>
                    </div>
                    <div class="siteWeb">
                        <i class="fas fa-link" style="color: #3b9138;"></i>
                        <span><b>Site Web :</b> <a href="http://www.insa-centrevaldeloire.fr/fr/" target="_blank">http://www.suphamhue/vn/</a></span>
                    </div>
    
                </div>
            </div>
            <div class="description">
                <div class="title">
                    Description :
                </div>
                <div>
                    
                </div>
            </div>
        </div>

        <div class="ecole">
            <div style="height: 150px;">
                <div class="image">
                    <img src="G:\nguyenthithuydung\images\tc1.jpg" width="100%">
                    <div class="annee">2013-2016</div>
                </div>
                <div class="contenu">
                    <div class="departerment">Classe de spécialiste en sciences</div>
                    <div class="adresse">
                        <i class="fas fa-map-marker-alt" style="color: grey;"></i>
                        <span><b>Adresse :</b> Thi Tran Dung </span>
                    </div>
                    <div class="facebook">
                        <i class="fab fa-facebook-square" style="color: #4267b2;"></i>
                        <span><b>Facebook : </b><a href="https://www.facebook.com/insacvl/" target="_blank">https://www.tc1.nghean.vn</a></span>
                    </div>
                    <div class="phone">
                        <i class="fas fa-phone-volume"></i>
                        <span><b>Téléphone :</b> 02 54 55 84 00</span>
                    </div>
                    <div class="siteWeb">
                        <i class="fas fa-link" style="color: #3b9138;"></i>
                        <span><b>Site Web :</b> <a href="http://www.insa-centrevaldeloire.fr/fr/" target="_blank"></a></span>
                    </div>
    
                </div>
            </div>
            <div class="description">
                <div class="title">
                    Description :
                </div>
                <div>
                    L'élève qui obtient les meilleurs résultats aux examens d'entrée au lycee de la province
                </div>
            </div>
        </div>
    </div>
    
    
</body>