<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes informations</title>
    <link rel="stylesheet" href="../fontawesome-5.12.1/css/all.css">
    <style>
        .total {
            width: 60%;
            margin: 70px auto 0 auto;
        }
        .total > div > div {
            float: left;
            width: 50%;
        }
        input {
            width: 100%;
            padding: 5px 7px;
            margin: 5px 0;
        }
        label{
            font-weight: 600;
            margin: 3px;
        }
    </style>

    <script src="../fontawesome-5.12.1/js/all.js"></script>
</head>
<body>
    <div class="total">
        <div>
            <p style="text-align: justify;">Je suis étudiant en 4e années à l’INSA Centre Val De Loire. Je cherche un stage (4 mois) dans le domaine de développement Web.</p>
            <p>Durée : 16 semaines - 19 semaaines</p>
            <p>Date début : Après le 06 Avril 2020</p>
        </div>
        <div>
            <div>
                <label for="name">Nom :</label>
                <input style="width: 90%;" type="text" id="name" value="NGUYEN" disabled>
            </div>
            <div>
                <label for="subname">Prénom :</label>
                <input type="text" id="subname" value="Thi Thuy Dung" disabled>
            </div>
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="text" id="email" value="thi.nguyen@insa-cvl.fr" disabled>
        </div>
        <div>
            <label for="Address">Adresse :</label>
            <input type="text" id="address" value="10 rue Ronceraie" disabled>
        </div>
        <div>
            <div>
                <label for="name">Code postal :</label>
                <input style="width: 90%;" type="text" id="code" value="41000" disabled>
            </div>
            <div>
                <label for="subname">Ville :</label>
                <input type="text" id="ville" value="BLOIS" disabled>
            </div>
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="text" id="email" value="thi.nguyen@insa-cvl.fr" disabled>
        </div>
        <div>
            <label for="phone">Téléphone :</label>
            <input type="text" id="phone" value="+33 7 76 72 06 9" disabled>
        </div>
        <div>
            <label for="git">Github :</label>
            <input type="text" id="git" value="" disabled>
        </div>
        <div>
            <label for="likedin">Linkedin :</label>
            <input type="text" id="likedin" value="https://www.linkedin.com/in/nguyenthuydung-cvl/" disabled>
        </div>
    </div>
</body>